* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1140px;
    height: 71px;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    
}


.logo{
    width: 139px;
    height: 60px;
    align-items: left;
}

.menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}

.menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    line-height: 152%;
}
.btn{
    background-color: #469165;
    margin-top: 20px;
    width: 164px;
    height: 44px;
    font-weight: bold;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    gap: 20px;
    
}