* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1140px;
    height: 71px;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    
}


.logo{
    width: 139px;
    height: 60px;
    align-items: left;
}

.menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}

.menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    line-height: 152%;
}
.btn{
    background-color: #469165;
    margin-top: 20px;
    width: 164px;
    height: 44px;
    font-weight: bold;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    gap: 20px;
    align-items: right;
    
}

#banner{
    background-image: url(../assets/hero-bg.png);
    width: 100%;
    height: 747px;
    margin-bottom: 50px;
    
    
}


#banner .banner-content{
    padding: 250px;
    text-align:center;
    
}
.btn-green{
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 20px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
}
.btn-green img{
    width: 16px;
    height: 16px;
    align-items: center;
}

.structured{
    color: #FFFFFF;
    padding: 5px;
}

.note{
    color: #30B868;
    padding: 5px;
}

 #banner p{
    color: #FFFFFF;
    padding: 5px;
}

.btn-star{
    padding: 16px 12px;
    border-radius: 4px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 400;
    
}
.btn-star .fa-solid {
    margin-left: 10px;
}

.btn-see{
    background: none;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    border-radius: 4px;
    color: #FFFFFF;
    
}

.fa-solid {
    margin-right: 10px;
}


.notes{
    text-align: center;
    margin-bottom: 44px;
    
}

.notes h1{
    font-size: 48px;
    font-weight: bold;
    color: #001931;
}
.notes p{
   color: #627382;
   font-size: 16px;
}
#notes-card{
    display: flex;
    justify-content: space-between;
    width: 85%;
    max-width: 1360px;
    margin: 0 auto;
    gap: 28px;
}

.card{
    padding: 24px;
    text-align: center;
    max-width: 322px;
    
    
}
.card i{
  background-color: #ff5a5f; 
  color: white;              
  width: 50px;
  height: 50px;
   justify-content: center;
  border-radius: 50%;        
  display: flex;
  font-size: 20px;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  
}

.card h3{
    font-size: 24px;
    font-weight: 600px;
    columns: #001931;
    padding-top: 16px;
}

.card p{
    font-size: 16px;
    font-weight: 400px;
    color: #627382;
    padding-top: 16px;
}




.brain-section{
    display: flex;
    gap: 120px;
    align-items: center;
    width: 1360px;
    
   
    
}
.brain-img{
    max-width: 600px;
    padding: 120px;
    text-align: left;
}

.brain-content{
    max-width: 700px;
    width: 90%;
    align-items: center;
   
    margin-bottom: 12px;
}


.one{
    color: #469165;
    font-size: 16px;
    font-weight: 500px;
    padding-bottom: 16px;
    
}


.brain-content h1{
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 20px;

    
}
.two{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    padding-bottom: 20px;
    width: 700px;
    line-height: 20px;
    
}


.access-content{
    margin-bottom: 120px;
    text-align: center;
}
.access-content h1{
    color: #001931;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 16px;
}


.access-content p{
    color: #627382;
    font-size: 16px;
    font-weight: 400px;
    padding-bottom: 24px;
}

.btn-one{
    background-color: #469165;
    color: #FFFFFF;
    border-radius: 4px;
    padding: 16px ;
    border: none;
    margin-bottom: 16px;
    
    
}

.access-content i{
    padding-left: 8px;
    align-items: center;
}

.footer-container{
    background-color: #001931;
    width:100%;
    padding: 60px;
    display: flex;
    justify-content: space-between;
    margin-bottom:1px ;
}

.footer-link p{
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500px;
    margin-bottom: 10px;
}

.link a {
  background-color:white; 
  color: black;              
  width: 30px;
  height: 30px;
   justify-content: center;
  border-radius: 80%;        
  font-size: 15px;
  align-items: center;
  text-align: center;
  padding: 2px;
  
  
  

}

.copyright{
    background-color: #001931;
   
}
.copyright p{
     text-align: center;
    color: #FAFAFA;
    padding: 20px;
    vertical-align: middle;
    border-top: #FAFAFA;
    border-radius: 4px solid;

}

