* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.inter-fonts {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

nav{
    width: 1140px;
    height: 71px;
    margin: 0% auto;
    display: flex;
    justify-content: space-between;
    background-color: #FFFFFF;
    
}


.logo{
    width: 139px;
    height: 60px;
    align-items: left;
}

.menu{
    display: flex;
    gap: 51px;
    list-style-type: none;
    align-items: center;
}

.menu a{
    font-size: 16px;
    font-weight: 500;
    color: #000000;
    text-decoration: none;
    line-height: 152%;
}
.btn{
    background-color: #469165;
    margin-top: 20px;
    width: 164px;
    height: 44px;
    font-weight: bold;
    padding: 12px 16px;
    border: none;
    border-radius: 4px;
    color: #FFFFFF;
    gap: 20px;
    align-items: right;
    
}

#banner{
    background-image: url(/assets/hero-bg.png);
    width: 100%;
    height: 747px;
    
    
}


#banner .banner-content{
    padding: 250px;
    text-align:center;
    
}
.btn-green{
    background-color: #FFFFFF;
    color: #469165;
    border-radius: 20px;
    padding: 8px;
    font-size: 16px;
    font-weight: 500;
}
.btn-green img{
    width: 16px;
    height: 16px;
    align-items: center;
}

.structured{
    color: #FFFFFF;
    padding: 5px;
}

.note{
    color: #30B868;
    padding: 5px;
}

 p{
    color: #FFFFFF;
    padding: 5px;
}

.btn-star{
    padding: 16px 12px;
    border-radius: 4px;
    margin-top: 20px;
    color: #FFFFFF;
    background-color: #469165;
    border: none;
    font-size: 16px;
    font-weight: 400;
    
}
.btn-star .fa-solid {
    margin-left: 10px;
}

.btn-see{
    background: none;
    padding: 16px 12px;
    font-size: 16px;
    font-weight: 400;
    margin-left: 5px;
    border-radius: 4px;
    color: #FFFFFF;
    
}

.fa-solid {
    margin-right: 10px;
}